@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
* {
  margin: 0;
  font-family: Roboto, sans-serif;
  padding: 0;
}

.card-container {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  overflow: hidden;
  width: 40%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 18px;
  padding: 16px;
  box-shadow: 5px 5px 10px #ccc;
}
.card-container:hover {
  box-shadow: 10px 10px 20px #ccc;
}
.card-container1 {
  display: flex;
  align-items: center;
  padding: 16px;
}
.avatar {
  display: flex;
  margin-right: 16px;
  flex: 0 0 auto;
}
.avatar-img {
  background-color: red;
  border-radius: 50%;
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
  width: 40px;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
}
.card-container2 {
  flex: 1 1 auto;
}
.blog-title {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  display: block;
}
.blog-img {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  object-fit: cover;
  margin: 0;
  height: 194px;
  overflow-clip-margin: content-box;
  overflow: clip;
}
.blog-description-container {
  padding: 16px;
  padding-bottom: 24px;
}
.blog-description-container p {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: rgba(0, 0, 0, 0.6);
}

.card-button {
  font-size: 1.5rem;
  padding: 0 3px;
  color: rgba(0, 0, 0, 0.54);
  background-color: white;
  cursor: pointer;
  margin-right: 14px;
  border: none;
  border-bottom: 3px solid white;
  box-sizing: border-box;
}
.b1{
  margin-right: 22px;
}
.card-button:hover{
  border-color: rgb(216, 47, 84);
}
.edit-and-delete{
  display: flex;
  justify-content: flex-end;
}

.header {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  left: auto;
  right: 0;
  color: rgb(0, 0, 0);
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  height: 64px;
}
.header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 24px;
  font-size: 22px;
  color: #62fff7;
}
.header-tab-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 180px;
}
.header-auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.header-tab-item {
  padding: 7px;
  margin: 12px;
  opacity: 0.8;
  font-weight: 900;
  font-size: 0.875rem;
  line-height: 1.25;
  letter-spacing: 0.02857em;
  cursor: pointer;
  color: #000000;
}
.header-auth-item {
  padding: 7px;
  margin: 12px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25;
  letter-spacing: 0.05857em;
  color: #000000;
  cursor: pointer;
}
a {
  text-decoration: none;
}
.header-auth-item h4{
  color: #000000;
}
.header-auth-item h4:hover{
  color: rgb(255, 255, 255);
}
.header-tab-item h4 {
  color: rgb(0, 0, 0);
  padding-bottom: 5px;
  box-sizing: border-box;
}
.header-tab-item h4:hover{
  color: rgb(255, 255, 255);
}
.active-line{
  border-bottom: 2px solid white;
}
.addblog-container {
  border: 3px solid;
  border-color: linear-gradient(
    90deg,
    rgba(58, 157, 180, 1) 16%,
    rgba(49, 49, 116, 1) 46%,
    rgba(0, 58, 161, 1) 53%,
    rgba(69, 187, 252, 1) 100%
  );
  border-radius: 40px;
  box-shadow: 10px 10px 20px #ccc;
  padding: 24px;
  margin: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 25px;
}
.addblog-header {
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  font-weight: 500;
  padding: 24px;
  color: grey;
  text-align: center;
}
.addblog-form {
  width: 100%;
}
.addblog-label {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  padding: 0;
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin-bottom: 8px;
  margin-top: 16px;
  font-size: 24px;
  font-weight: 700;
}
.addblog-input {
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 8px;
  width: 97%;
  padding: 16px;
  font-size: 1.3rem;
}
.addblog-submit {
  width: 100%;
  background-color: #ed6c02;
  border-radius: 12px;
  color: white;
  padding: 12px;
  margin: 65px 0 15px 0;
  cursor: pointer;
  font-size: 20px;
  border: none;
}
.addblog-input:focus {
  outline-color: blue;
}
.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 10px 10px 20px #ccc;
  padding: 24px;
  margin: auto;
  margin-top: 40px;
  border-radius: 20px;
  max-width: 400px;
  align-items: center;
}
.auth-container p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  padding: 24px;
  text-align: center;
}
.auth-container form {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
.auth-container input {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  border: none;
  border: 2px solid rgba(196, 190, 190, 0.87);
  border-radius: 4px;
  outline-color: rgba(57, 144, 222, 0.87);
  margin-top: 16px;
  margin-bottom: 8px;
  padding: 12px;
  width: 280px;
}
.submit-button {
  color: #ed6c02;
  background-color: white;
  border: none;
  font-size: 1.05rem;
  margin-top: 26px;
  margin-bottom: 15px;
  cursor: pointer;
  padding: 5px;
}
.submit-button:hover{
  background-color: #f0d7c3;
  border-radius: 7px;
}
.change-button {
  text-align: center;
  color: rgb(111 129 218);
  cursor: pointer;
  padding: 7px;
}
.change-button:hover{
  background-color: rgb(222, 226, 247);
  border-radius: 7px;
}
